body, button {
  font-family: Trebuchet MS, sans-serif;
}

button {
  border: none;
  font-weight: bold;
  color: white;
  background-color: #777;
  border-radius: 99px;
  padding: 5px 25px;
}

button:focus {
  outline: none;
  box-shadow: 0 0 1px 3px #333;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

header h3 {
  font-weight: normal;
}

header h3 span {
  font-weight: bold;
  font-size: 1.4em;
  margin-left: 6px;
}

ul {
  padding: 0;
  text-align: center;
  margin: 40px 20px;
  list-style: none;
  overflow-x: auto;
}

li {
  margin: 21px 0;
  white-space: nowrap;
}

li>span {
  background-color: #ddd;
  padding: 7px 11px;
  border-radius: 8px;
}

li>span>span {
  margin: 0 6px;
  display: inline-block;
}

li>span>span:nth-child(n+5) {
  color: #999;
}

li>span>span:nth-child(1) { width: var(--width0) }
li>span>span:nth-child(2) { width: var(--width1) }
li>span>span:nth-child(3) { width: var(--width2) }
li>span>span:nth-child(4) { width: var(--width3) }
li>span>span:nth-child(5) {width: var(--width4);}
li>span>span:nth-child(6) { width: var(--width5) }

footer {
  text-align: center;
}

footer button {
  margin: 0 10px;
}